{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}?{% now "U" %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if baby %}
    <h1>Edit {{ baby.name }}</h1>
    {%if baby.image %}
    <img <img src={{ baby.image.url }} alt="">
    {% endif %}
  {% else %}
    <h1>Add a Baby</h1>
  {% endif %}
</div>
<form action="" method="post" enctype='multipart/form-data' class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}