{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/babies/baby-detail.css' %}?{% now "U" %}"
/>
{% endblock %}

{% block content %}

<section class="baby-container">
  <div class="baby-img">
    {%if baby.image %}
    <img src={{ baby.image.url }} alt="">
    {%endif%}
  </div>
  <div class="baby-details">
    <h1>{{ baby.name }}</h1>
    <p>{{ baby.description }}</p>
    <p>Year: <small>{{ baby.year }}</small></p>
    <div class="baby-actions">
        <a href="{% url 'babies_update' baby.id %}" class="btn warn">Edit</a>
        <a href="{% url 'babies_delete' baby.id %}" class="btn danger">Delete</a>
      </div>

  </div>
</section>

{% endblock %}