{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/babies/baby-index.css' %}?{% now "U" %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>My Beanie Babies Collection</h1>
</section>

<section class="card-container">
  {% for baby in babies %}
    <div class="card">
      <a href="{% url 'babies_detail' baby.id %}">
      <div class="card-content">
        <div class="card-img-container">
          {%if baby.image %}
          <img src={{ baby.image.url }} alt="">
          {%endif%}

        </div>
        <h2 class="card-title">{{ baby.name }}</h2>
        <p><small>{{ baby.description }}</small></p>
        <p>Year: <small>{{ baby.year }}</small></p>
      </div>
    </div>
      </a>
  {% endfor %}
</section>

{% endblock %}