{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/babies/baby-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Babies List</h1>
  {% comment %} <img src="{% static 'images/cool-baby.svg' %}" alt="A cool baby" />
  <img src="{% static 'images/happy-baby.svg' %}" alt="A happy baby" />
  <img src="{% static 'images/teacup-baby.svg' %}" alt="A baby in a teacup" />
  <img src="{% static 'images/baby-in-box.svg' %}" alt="A baby in a box" /> {% endcomment %}
</section>

<section class="card-container">
  {% for baby in babies %}
    <div class="card">
      <a href="{% url 'babies_detail' baby.id %}">
      <div class="card-content">
        <div class="card-img-container">
          {%if baby.image %}
          <img src={{ baby.image.url }} alt="">
          {%endif%}

        </div>
        <h2 class="card-title">{{ baby.name }}</h2>
        <p><small>{{ baby.description }}</small></p>
        <p>Year: <small>{{ baby.year }}</small></p>
      </div>
    </div>
      </a>
  {% endfor %}
</section>

{% endblock %}